# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

    - List of popular languages for Data Science
    - List of commonly used libraries for Data Science
    - Table of popular tools for Data Science
    - Examples of arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:

    1. Python
    2. R
    3. SQL
    4. Julia
    5. Scala

Some of the commonly used libraries used by Data Scientists include:
    
    1. Pandas
    2. Matplotlib
    3. NumPy
    4. Seaborn
    5. TensorFlow

| Data Science Tools |
| ------------------ |
| Apache Spark       |
| Apache Hadoop      |
| Jupyter Notebook   |
| VS Code            |
| Rstudio            |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
200 / 6

33.333333333333336

## Author 
Luka Štefanić